Release/
Debug/
.ino.cpp
*.d
.settings/
Debug_AVaRICE/
.metadata/
**/.idea/workspace.xml
**/eagle/*.?#?
**/eagle/*.lck
**/eagle/*.pdf
**/eagle/*.job
**/eagle/*.bak
**/eagle/*.pro
**/kicad/*_log.txt
**/kicad/*.*bak
**/kicad/*.net
